body {
	background-color: Black;
	font-family: "Helvetica", sans-serif;
	color: white;
}
h1{
	color: White;
	font-family: "Times New Roman", serif;
}
h2{
	font-family:"Times New Roman", serif;
}
nav ul{
	background-color: Blue;
	border-style: solid;
	border-color: Black;
	border-width: 2px;
	padding: 10px;
	border-radius: 10px;
}
nav ul li {
	list-style-type:none;
	display:inline;
	margin-right: 10px;
	margin-left: 10px;
	color:Red;
}
nav ul li a{
	text-decoration: none;
	color: White;
}
img{
	white-space: nowrap;
	border-radius: 30px;
}
